*::before, *, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

        
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background: linear-gradient(#d2c7f0, #cbc6f5, #c5c6ff)
}

body > h1{
    color: #4d23af;
    margin:  20px 0;
}

.container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    overflow: hidden;
    overflow-y: scroll;

    height: 90vh;
    max-height: 90vh;
    max-width: 700px;

    border-radius: 4px;

    box-shadow: 0 0 19px #16176881;
}


.container::-webkit-scrollbar{
    width: 0;
}

table{
    height: 100%;
    width: 100%;

    overflow-x: scroll;


    background-color: rgba(84, 41, 202, 0.856);

    border-collapse: collapse;
    color: rgba(228, 224, 255, 0.753);
    font-family: 'Rawline';

    }

table thead{
    background-color: rgba(18, 18, 44, 0.753);
    text-align: center;
}

table td:nth-of-type(1),
table td:nth-of-type(2)
{
    border-right: 1px rgba(136, 139, 179, 0.24) solid;
}

table th,
table td{
    padding: 15px 40px;
}

table tr:nth-child(even){
    background-color: #2f2277a4;
}

table tr:hover{
    background-color: rgba(18, 18, 44, 0.753);
    cursor: pointer;
}

table thead tr:hover{
    background-color: transparent;
    cursor: default;
    user-select: none;
}